body {
	margin: 50px;
	width: 100%;
	height: 100%;
	font-family: Arial;
	background-color: #808080;

}
.pai {
	margin: auto;
	width: 600px;
	height: 100%;
	display: block;
	border:3px solid #ADD8E6;
	background-color: white;
}
.cab {
	width: 100%;
	height: 20px;
	display: block;
	background-color: orange;
	border-bottom: 1px solid gray;
}
.apresentacao {
	margin-left: 5px;
}
.apresentacao {
	border-bottom: 1px solid black;
}
.dados_pessoais {
	margin-top: 2px;
	padding: 2px;
	background-color: orange;
	border:1px solid black;
}
.informacoes_matricula {
	margin-top: 2px;
	padding: 2px;
	background-color: orange;
	border:1px solid black;
}
.finish {
	display: flex;
	justify-content: center;
	margin-top: 2px;
	padding: 2px;
	background-color: orange;
	border:1px solid black;
}
.copy {
	display: flex;
	color: white;
	justify-content: flex-start;
	margin-top: 2px;
}